name: Tests

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  test:
    name: Test on ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest ]
        golang-version: [ "1.19", "1.20", "1.21", "1.22", "1.23", "1.24", "1.25" ]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python 3.11
        uses: actions/setup-python@v6
        with:
          python-version: 3.11

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.golang-version }}

      - name: Unit-Tests
        run: go test ./... --short

      - name: Install go-dependencies
        run: |
          go mod download

      - name: build
        run: |
          go build -o build/godd.bin cmd/godd.go      

      - name: Install python-dependencies for tests
        run: |
          python -m pip install --upgrade pip
          python -m pip install pytest

      - name: System-Tests
        run: |
          pytest
